.input-container{
  width: 50%;
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  flex-wrap: wrap;
  gap: 5px;
  margin: 10px 10px 0 10px;
}

.pill{
  padding: 8px;
  background-color: bisque;
  border-radius: 20px;
  cursor: pointer;
}

input{
  border: none;
}
input:focus{
  outline: none;
}

li{
  display: flex;
  align-items: center;
}

li:hover{
  background-color: #ccc;
}

 img{
  width: 30px;
 }

.suggestions{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style-type: none;
  height: max-content;
  max-height: 300px;
  width: 600px;
  border: 1px solid #ccc;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  padding: 10px;
  margin-left: 18px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  gap: 8px;
  border-radius: 5px;
  border-top: 0;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

body{
  margin: 0;
  font-family: sans-serif;
}
